<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/emp/up" method="POST">
        employee id <input type="text" name="eid" value="<%= empdata[0].eid %>" readonly/>
        employee name <input type="text" name="ename" value="<%= empdata[0].name %> " />
        salary <input type="text" name="esal" value="<%= empdata[0].salary %> " />
        <input type="submit" value="update"/>
     </form>  
</body>
</html>