<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>eid</th> <th>name</th> <th>sal</th>
            </tr>
        </thead>
        <% for(var i=0;i<empdata.length;i++){%>
                <tr>
                        <td>
                           <%= empdata[i].eid %> 
                        </td>
                        <td>
                                <%= empdata[i].name %> 
                             </td>
                             <td>
                                    <%= empdata[i].salary %> 
                                 </td>
                   
                    </tr>  
       <% } %>
       
    </table>
</body>
</html>